/* Lexend */
@font-face {
	font-family: "Lexend";
	font-style: normal;
	font-weight: 300;
	src:url(../../fonts/Lexend-Light.woff) format("woff");
}
@font-face {
	font-family: "Lexend";
	font-style: normal;
	font-weight: 400;
	src:url(../../fonts/Lexend-Regular.woff) format("woff");
}
@font-face {
	font-family: "Lexend";
	font-style: normal;
	font-weight: 500;
	src:url(../../fonts/Lexend-Medium.woff) format("woff");
}
@font-face {
	font-family: "Lexend";
	font-style: normal;
	font-weight: 600;
	src:url(../../fonts/Lexend-SemiBold.woff) format("woff");
}
@font-face {
	font-family: "Lexend";
	font-style: normal;
	font-weight: 700;
	src:url(../../fonts/Lexend-Bold.woff) format("woff");
}
/*@font-face {
	font-family: "Lexend", Arial, Apple SD Gothic Neo, sans-serif;
	font-style: normal;
	font-weight: 500;
	src:url(../../fonts/Lexend-SemiBold.svg) format("svg");
}*/
